<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Label</key>
	<string>cn.lg.neworld.checkin.node</string>
	<key>ProgramArguments</key>
	<array>
		<string>/usr/local/bin/node</string>
		<string>/Users/lg/Desktop/neworld-checkin/index.js</string>
	</array>
	<key>StartCalendarInterval</key>
	<array>
		<dict>
			<key>Hour</key>
			<integer>8</integer>
			<key>Minute</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>StandardOutPath</key>
	<string>/Users/lg/Desktop/neworld-checkin/run.log</string>
	<key>StandardErrorPath</key>
	<string>/Users/lg/Desktop/neworld-checkin/err.log</string>
	<key>RunAtLoad</key>
	<false/>
</dict>
</plist>
